<!DOCTYPE html>
<html>
<head>
<title>投稿管理</title>
</head>
<body>
<h1>投稿一覧</h1>

<h2>📝 記事一覧</h2>


<p><a href="/posts/new">新規投稿</a></p>
<!-- 記事リスト表示 -->

<div id="posts-list">
<p>ここに投稿一覧が表示されます</p>
<!-- 将来的にはここに@postsのループ処理 -->
</div>

<!-- ホームへ戻るリンク　-->
<p><a href="/">🏠 HOME</a></p>
</body>
</html>